@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5.88% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 219.31 58% 19.61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 194.44 89.47% 59.02%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 349.95 84.47% 57.06%;
    --destructive-foreground: 240 4.76% 95.88%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219.31 58% 19.61%;
    --radius: 1rem;
  }

  .dark {
    --background: 219 59% 6%;
    --foreground: 240 4.76% 95.88%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 194.44 89.47% 59.02%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 219.31 58% 19.61%;
    --secondary-foreground: 240 4.76% 95.88%;
    --muted: 219.31 59.18% 9.61%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 349.95 84.47% 57.06%;
    --destructive-foreground: 240 4.76% 95.88%;
    --border: 219.31 58% 19.61%;
    --input: 219.31 58% 19.61%;
    --ring: 194.44 89.47% 59.02%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .no-before::before {
    content: none !important;
  }
  .no-after::after {
    content: none !important;
  }
}
