@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5.88% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 219.31 58% 19.61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 194.44 89.47% 59.02%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 39.13% 90.98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 349.95 84.47% 57.06%;
    --destructive-foreground: 240 4.76% 95.88%;
    --warning: 40.61 88.17% 63.53%;
    --success: 172.46 66.01% 50.39%;
    --error: 350.94 94.56% 71.18%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219.31 58% 19.61%;
    --radius: 1rem;
  }

  .dark {
    --background: 219 59% 6%;
    --foreground: 240 4.76% 95.88%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 194.44 89.47% 59.02%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 219.31 58% 19.61%;
    --secondary-foreground: 240 4.76% 95.88%;
    --muted: 219.31 59.18% 9.61%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 349.95 84.47% 57.06%;
    --destructive-foreground: 240 4.76% 95.88%;
    --warning: 40.61 88.17% 63.53%;
    --success: 172.46 66.01% 50.39%;
    --error: 350.94 94.56% 71.18%;
    --border: 219.31 58% 19.61%;
    --input: 219.31 58% 19.61%;
    --ring: 219.31 58% 19.61%;
  }

  .cotton {
    --background: 44 31.91% 90.78%;
    --card: 44 31.91% 90.78%;
    --popover: 44 31.91% 90.78%;
    --primary: 349.64 93.22% 76.86%;
    --secondary: 344.58 94.74% 70.2%;
    --primary-foreground: 240 5.88% 10%;
    --accent: 348.62 100% 88.63%;
    --muted: 35.56 40.3% 86.86%;
    --muted-foreground: 323.72 82.69% 20.39%;
    --destructive: 329.88 100% 50%;
    --border: 349.55 100% 69.61%;
    --input: 349.55 100% 69.61%;
    --ring: 349.64 93.22% 76.86%;
    --radius: 0.7rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .no-before::before {
    content: none !important;
  }
  .no-after::after {
    content: none !important;
  }
}

.katex-display {
  overflow-x: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  @apply max-w-[18rem] rounded-xl border bg-muted !px-2 py-4 text-sm sm:max-w-none;
}
