.cotton {
  --background: 44 31.91% 90.78%;
  --foreground: 240 5.88% 10%;
  --card: 44 31.91% 90.78%;
  --popover: 44 31.91% 90.78%;
  --primary: 349.64 93.22% 76.86%;
  --primary-foreground: 240 5.88% 10%;
  --secondary: 344.58 94.74% 70.2%;
  --accent: 348.62 100% 88.63%;
  --muted: 35.56 40.3% 86.86%;
  --muted-foreground: 323.72 82.69% 20.39%;
  --destructive: 329.88 100% 50%;
  --border: 349.55 100% 69.61%;
  --input: 349.55 100% 69.61%;
  --ring: 349.64 93.22% 76.86%;
  --radius: 1.2rem;
}

.espresso {
  --background: 25.71 34.15% 83.92%;
  --card: 25.71 34.15% 83.92%;
  --popover: 25.71 34.15% 83.92%;
  --primary: 0 8.24% 33.33%;
  --secondary: 16.67 33.64% 58.04%;
  --accent: 26.13 27.68% 56.08%;
  --muted: 25.71 34.27% 71.96%;
  --muted-foreground: 25.71 34.43% 23.92%;
  --destructive: 12.77 100% 27.65%;
  --border: 0 8.24% 33.33%;
  --input: 0 8.24% 33.33%;
  --ring: 0 8.24% 33.33%;
  --radius: 0.7rem;
}

.matilda {
  --background: 185.63 59.26% 89.41%;
  --card: 185.63 59.26% 89.41%;
  --popover: 185.63 59.26% 89.41%;
  --primary: 197.53 89.9% 19.41%;
  --secondary: 199.51 68.72% 64.9%;
  --accent: 175.38 55.56% 77.06%;
  --muted: 173.63 69.33% 68.04%;
  --muted-foreground: 197.53 89.9% 19.41%;
  --destructive: 341.94 100% 57.65%;
  --border: 190 76.47% 40%;
  --input: 190 76.47% 40%;
  --ring: 197.53 89.9% 19.41%;
}

.cyberpunk {
  --background: 55.18 100% 68%;
  --card: 55.18 100% 68%;
  --popover: 55.18 100% 68%;
  --primary: 227.15 56.00000000000001% 15%;
  --secondary: 331.46 90.11% 64.31%;
  --accent: 33.07 100% 75.1%;
  --muted: 345.13 100% 74%;
  --muted-foreground: 227.15 56.00000000000001% 15%;
  --destructive: 357.57 91.74% 52.55%;
  --success: 174.18 89.09% 56.86%;
  --warning: 50.17 94.31% 51.76%;
  --border: 184.8 37.31% 13.14%;
  --input: 184.8 37.31% 13.14%;
  --ring: 227.15 56.00000000000001% 15%;
  --radius: 0.5rem;
}

.black {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 4.55% 8.63%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

.emerald {
  --background: 45 62.07% 88.63%;
  --card: 45 62.07% 88.63%;
  --popover: 45 62.07% 88.63%;
  --primary: 162 35.71% 10.98%;
  --secondary: 39.15 47.97% 48.24%;
  --accent: 74.4 42.37% 65.29%;
  --muted: 96.98 44.33% 61.96%;
  --muted-foreground: 152.63 96.61% 11.57%;
  --destructive: 1 52.17% 54.9%;
  --success: 138.26 32.7% 41.37%;
  --warning: 65.95 89.63% 73.53%;
  --border: 162 35.71% 10.98%;
  --input: 162 35.71% 10.98%;
  --ring: 152.63 96.61% 11.57%;
  --radius: 0.7rem;
}

.griffindor {
  --background: 41.05 100% 92.55%;
  --card: 41.05 100% 92.55%;
  --popover: 41.05 100% 92.55%;
  --primary: 359.66 100% 34.12%;
  --secondary: 44.48 70.16% 48.63%;
  --accent: 44.48 70.16% 48.63%;
  --muted: 43.58 84.82% 56.08%;
  --muted-foreground: 359.48 100% 22.75%;
  --destructive: 342 73.53% 13.33%;
  --border: 263.57 28% 19.61%;
  --input: 263.57 28% 19.61%;
  --ring: 359.48 100% 22.75%;
  --radius: 0.7rem;
}

.slytherin {
  --background: 120 100% 92.55%;
  --card: 120 100% 92.55%;
  --popover: 120 100% 92.55%;
  --primary: 140.36 40% 27.45%;
  --secondary: 0 0% 66.67%;
  --accent: 137.65 82.93% 83.92%;
  --muted: 95.26 44.88% 50.2%;
  --muted-foreground: 141.33 46.39% 19.02%;
  --destructive: 1 52.17% 54.9%;
  --border: 140.36 40% 27.45%;
  --input: 140.36 40% 27.45%;
  --ring: 141.33 46.39% 19.02%;
  --radius: 0.6rem;
}

.ravenclaw {
  --background: 226.32 45.6% 24.51%;
  --foreground: 240 4.76% 95.88%;
  --card: 226.32 45.6% 24.51%;
  --card-foreground: 240 4.76% 95.88%;
  --popover: 226.32 45.6% 24.51%;
  --popover-foreground: 240 4.76% 95.88%;
  --primary: 36.12 53.37% 37.84%;
  --secondary: 0 0% 74.51%;
  --accent: 39.15 47.97% 48.24%;
  --accent-foreground: 240 4.76% 95.88%;
  --muted: 225.6 64.1% 15.29%;
  --muted-foreground: 0 0% 74.51%;
  --border: 36.12 53.37% 37.84%;
  --input: 36.12 53.37% 37.84%;
  --ring: 39.15 47.97% 48.24%;
  --radius: 0.8rem;
}

.hufflepuff {
  --background: 43.15 82.95% 65.49%;
  --card: 43.15 82.95% 65.49%;
  --popover: 43.15 82.95% 65.49%;
  --primary: 21.43 14.58% 18.82%;
  --secondary: 26.9 14.57% 39.02%;
  --secondary-foreground: 240 4.76% 95.88%;
  --accent: 44.48 70.16% 48.63%;
  --muted: 42.91 82.49% 57.45%;
  --muted-foreground: 21.43 14.58% 18.82%;
  --destructive: 358.31 89.9% 38.82%;
  --border: 26.9 14.57% 39.02%;
  --input: 26.9 14.57% 39.02%;
  --ring: 21.43 14.58% 18.82%;
  --radius: 0.9rem;
}
