.cotton {
  --background: 44 31.91% 90.78%;
  --foreground: 240 5.88% 10%;
  --card: 44 31.91% 90.78%;
  --popover: 44 31.91% 90.78%;
  --primary: 349.64 93.22% 76.86%;
  --secondary: 344.58 94.74% 70.2%;
  --primary-foreground: 240 5.88% 10%;
  --accent: 348.62 100% 88.63%;
  --muted: 35.56 40.3% 86.86%;
  --muted-foreground: 323.72 82.69% 20.39%;
  --destructive: 329.88 100% 50%;
  --border: 349.55 100% 69.61%;
  --input: 349.55 100% 69.61%;
  --ring: 349.64 93.22% 76.86%;
  --radius: 0.8rem;
}

.espresso {
  --background: 25.71 34.15% 83.92%;
  --card: 25.71 34.15% 83.92%;
  --popover: 25.71 34.15% 83.92%;
  --primary: 26.02 33.88% 48.04%;
  --secondary: 16.67 33.64% 58.04%;
  --accent: 26.67 7.63% 53.73%;
  --muted: 25.71 34.27% 71.96%;
  --muted-foreground: 25.71 34.43% 23.92%;
  --destructive: 12.77 100% 27.65%;
  --border: 0 8.24% 33.33%;
  --input: 0 8.24% 33.33%;
  --ring: 26.02 33.88% 48.04%;
  --radius: 0.7rem;
}
